{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{%load staticfiles %}

    {% block  page_title %} Index {% endblock %}
    {% block main_content %}
        <div id="wrapper" class="toggled">
            <!--- Sidebar -->
            <div id="sidebar-wrapper">
                <ul class="sidebar-nav text-center">
                    <a href="{% url 'user:profile' user.id %}">
                        <div class="circle"></div>
                    </a>
                    <li>
                        <h3> {{ user.username }}</h3>
                    </li>
                    <li>
                        <h4>  {{ user.last_name }}, {{ user.first_name }} </h4>
                    </li>
                    <li>
                        <h5> Departamento</h5>
                    </li>
                    <div class="icons-user-list">
                        {% if user.is_superuser %}
                                <a id="icon-user" href="{% url 'user:add-user' %}"><i class="icon-user"></i>ADD USER</a>
                                <br>
                                <a id="icon-list" href="{% url 'user:user-list' %}"><i class="icon-list"></i>USER LIST</a>
                        {% endif %}
                    </div>    
                    <br>
                    <div class="icon-logout-padding">
                        <a id="icon-logout" href="{% url 'user:logout' %}"><i class="icon-logout"></i> SALIR</a>  
                    </div>
                        
                </ul>
            </div>
            <!--- Sidebar Wrapper -->

            <!--- Page Content -->
            <div class="jumbotron jumbotron-fluid bg-info text-black text-center index">
                <div class="container">
                    <h1 class="display-1 text-center-welcome"> Welcome</h1>
                </div>
            </div>
        </div>
        <!--- /#wrapper -->
    {% endblock %}